
<div class="grid container">
  <div class="col flex justify-content-center">
    <div class="flex justify-content-center flex-column">

      <div *ngIf="showSuccess" class="flex justify-content-center">
        <img src="../../../assets/success.png" width="130px" class="mb-8" alt="">
      </div>

      <div *ngIf="showLoader" class="flex justify-content-center">
        <img src="../../../assets/loader.gif" width="250px" class="mb-8" alt="">
      </div>

      <input type="file" accept="video/*" (change)="onUpload($event)">
      <button
        class="mt-2 p-button-danger"
        pButton
        label="LIMPIAR"
        (click)="deleteFile()"
        style="padding: 1rem;">
      </button>
      <button
        class="mt-2 p-button-success"
        pButton
        label="SUBIR"
        (click)="sendFile()"
        style="padding: 1rem;">
      </button>
    </div>
  </div>
</div>

